.post {
    &__theme {
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 2px;
        font-size: var(--fs-400);
    }

    &__title {
        font-size: var(--fs-700);
        line-height: 1.1;
        font-weight: 200;
    }

    &__content {
        padding: 0;
    }

    &__link {
        display: inline-block;
        font-weight: 600;
        text-decoration: none;
        border-bottom: solid 2px transparent;

        &:focus,
        &:hover {
            border-color: currentColor;
        }

        &:active {
            outline: dotted 2px currentColor;
            outline-offset: 0.25rem;
        }

        &::after {
            content: "\27A2";
            margin-inline-start: 0.5em;
        }
    }
}
