.site-head {
    padding: calc(var(--base-size) * 2) 0;
    line-height: 1.1;

    &__inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        gap: 0 1rem;
    }

    &__brand {
        margin-inline-end: var(--base-size);
        width: clamp(
            calc(var(--base-size) * 5),
            40%,
            calc(var(--base-size) * 15)
        );
    }

    &__cart {
        width: calc(3 * var(--base-size));
        background: none;
        border: none;
        cursor: pointer;

        &:hover,
        &:focus {
            outline: dotted currentColor 2px;
        }

        > svg {
            width: 100%;
        }
    }
}
