.auto-grid {
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(min(var(--auto-grid-min-size, 18rem), 100%), 1fr)
    );
    grid-gap: var(--auto-grid-gap, 2.5em);
}
