<section class="[ page-header ]">
    <div class="container">
        <h1>{{ pageHeader.main }}</h1>
        {% if pageHeader.summary %}
            <p>{{ pageHeader.summary }}</p>
        {% endif %}
        {% if pageHeader.button %}
            <a href="{{ pageHeader.button.url }}" class="button">{{ pageHeader.button.text }}</a>
        {% endif %}
    </div>
</section>