.site-head {
    padding: calc(var(--base-size) * 2) 0;
    line-height: 1.1;

    &__inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        gap: 0 1rem;
    }

}
