<!DOCTYPE html>
<html lang="es-CO">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="{{ '/css/style.css' | url }}"/>
        <link rel="preconnect" href="https://app.snipcart.com">
        <link rel="preconnect" href="https://cdn.snipcart.com">
        <link rel="stylesheet" href="https://cdn.snipcart.com/themes/v3.2.1/default/snipcart.css"/>
    </head>
    <body>
        {% include "partials/site-head.njk" %}
        <main tabindex="-1" id="main-content"> {% block content %}{% endblock %}
            </main>
            <div id="snipcart" data-config-modal-style="side" data-api-key="Mjg1MzZlMjgtMTJmNy00NGVjLThmMjEtZjhhNzNjNzU0Mjk3NjM3NDY4NjEyMzIzMjA2MDEz" data-config-add-product-behavior="none" hidden></div>
            <script src="js/main.min.js"></script>
            <script async src="https://cdn.snipcart.com/themes/v3.2.1/default/snipcart.js"></script>
        </body>
    </html>