{% extends "layouts/base.njk" %}
{% block content %}
    <div>
        <div class="flow">
            <header class="bg-primary-500 pd-2">
                <div class="wrapper">
                    <h1>{{ title }}</h1>
                </div>
            </header>
            <div class="wrapper">
                {{ content | safe }}
            </div>
        </div>
    </div>
    <section id="product-list">
        <div class="wrapper auto-grid">
            {% for partitura in items %}
                {% productCard partitura, page.url, 2 %}
            {% endfor %}
        </div>
        {% include "partials/pagination.njk" %}
    </section>
{% endblock %}