{% extends "layouts/base.njk" %}
{% block content %}
    <div class="wrapper">
        <article class="[ product ]">
            <h1 class="product__title">{{ partitura.title }}</h1>
            <div class="product__img">
                <img src="https:{{ partitura.imagen.fields.file.url }}" alt=""/>
            </div>
            <div class="product__audio">
                <audio controls="controls" id="audio-player">
                    <source src="https:{{ partitura.audio.fields.file.url }}"/>
                </audio>
            </div>
            <p class="product__price">${{ partitura.precio.toLocaleString("es-CO") }}</p>
            <button class="[ snipcart-add-item ] [ product__buy ] [ btn btn--sm ]" data-item-id="{{ partitura.id }}" data-item-price="{{ partitura.precio }}" data-item-url="{{ page.url }}" data-item-description="{{ partitura.descripcionCorta }}" data-item-file-guid="{{ partitura.guid }}" data-item-image="https:{{ partitura.imagen.fields.file.url }}" data-item-max-quantity="1" data-item-name="{{ partitura.title }}">
                Comprar
            </button>
            <div class="[ product__description ] [ flow ]">
                <h2>Descripción:</h2>
                <p>{{ partitura.descripcionLarga }}</p>
            </div>
        </article>
    </div>
{% endblock %}