---
title: "Catalogo de partituras"
pagination:
  data: partituras
  size: 6
  alias: partitura
  addAllPagesToCollections: true
permalink: "/partituras{% if pagination.pageNumber > 0 %}/pagina/{{ pagination.pageNumber }}{% endif %}/index.html"
tags: "partituras"
layout: "layouts/catalogo.njk"
---