---
pagination:
  data: pages
  size: 1
  alias: contentfulPage
  addAllPagesToCollections: true
permalink: "{{ contentfulPage.slug | slug }}/"
tags: "pages"
layout: "layouts/page.njk"

eleventyComputed:
  title: "{{ contentfulPage.title }}"
---

{%- for component in contentfulPage.components -%}
  {% if component.sys.contentType.sys.id == "heroSection" %}
    {% heroSection component %}
  {% elif component.sys.contentType.sys.id == "contentSection" %}
    {% contentSection component %}
  {% elif component.sys.contentType.sys.id == "featuredProductsSection" %}
    {% featuredProductsSection component %}
  {% elif component.sys.contentType.sys.id == "bannerBlock" %}
    <h2> bannerBlock </h2>
  {% elif component.sys.contentType.sys.id == "footerBlock" %}
    <h2> footerBlock </h2>
  {% endif %}
{% endfor %}

{{ contentfulPage.components[2].fields.productList | log }}
