/**
 * WRAPPER
 * Sets a max width, adds a consistent gutter and horizontally
 * centers the contents
 */
.wrapper {
    width: 90vw;
    width: clamp(
        var(--wrapper-min, 16rem),
        var(--wrapper-ideal, 90vw),
        var(--wrapper-max, 70rem)
    );
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    position: relative;

    &--sm {
        --wrapper-max: 40rem;
    }
}
