<section id="contact">
    <div class="[ wrapper ] [ split ]">
        <div class="flow">
            <header>
                <h2 class="text-cuaternary-400 weight-800">Contacto</h2>
            </header>
            <div>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus quo ipsa placeat autem nihil quod odit quam pariatur tempore eum.</p>
            </div>
        </div>
        <div>
            <img src="/assets/images/Contacto.png" alt="" class=""/></div>
    </div>
</section>