<header class="site-head" role="banner">
    <a href="#main-content" class="skip-link">Skip to content</a>
    <div class="wrapper">
        <div class="site-head__inner">
            <a href="/" class="site-head__brand">
                {{ site.name }}
            </a>
            <div class="split">
                <burger-menu max-width="9999">
                    <nav class="navigation" aria-label="primary">
                        <ul class="nav__list" role="list">
                            {% for item in pages %}
                                {% if item.navigation %}
                                <li>
                                    <a href="{{ item.slug }}" {{ helpers.getLinkActiveState(item.slug, page.url) | safe }}>{{ item.navigationName }}</a>
                                </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </nav>
                </burger-menu>
                <button class="snipcart-checkout">
                    {% include "icons/cart.svg" %} 
                </button>
            </div>
        </div>
    </div>
</header>