<footer class="[ site-foot ] [ bg-cuaternary-500 ]">
    <div class="wrapper flow">
        <div class="[ site-foot__inner ] [ border-bottom ]">
            <div>
                <a href="/" class="site-foot__brand" aria-label="{{ site.name }} - Página Principal">
                    {% image site.brandImages[1].sys.id, contentful.assets %}
                </a>
                <ul class="[ site-foot__links ] [ flex flex--justify-start flex--gap ]" role="list">
                    {% for link in site.footer.links %}
                        <li class="site-foot__link">
                            <a href="{{ link.url }}">{{ link.texto }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="flow">
                <header>
                    <h3>{{ site.footer.subscribeForm.title }}</h3>
                    <p>{{ site.footer.subscribeForm.description }}</p>
                </header>
                <form class="[ site-foot__subscription ]">
                    <label class="weight-800 " for="subscribe">{{ site.footer.subscribeForm.label }}</label>
                    <div class="inline-form">
                        <input type="email" id="subscribe" name="email" placeholder="nombre@email.com" class="inline-form__input"/>
                        <button class="btn btn--sm inline-form__btn">{{ site.footer.subscribeForm.submitButton }}</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="[ site-foot__copyright ] [ text-size-300 ]">
            <p>&copy; Marcato
                {{ helpers.currentYear() }}. Todos los derechos reservados.</p>
            <p>Desarrollo por Juan B. Benavides y diseño por Stephanía Arango</p>
        </div>
    </div>
</footer>