<header class="site-head" role="banner">
    <a href="#main-content" class="skip-link">Skip to content</a>
    <div class="wrapper">
        <div class="site-head__inner">
            <a href="/" class="site-head__brand" aria-label=" Logo of {{ site.name }}">
                <img src="https:{{ site.logo.fields.file.url }}" alt=""></a>
                <div class="[ flex flex--gap ]">
                    <burger-menu max-width="9999">
                        <nav class="navigation" aria-label="primary">
                            <ul class="nav__list" role="list">
                                {% for item in navigation %}
                                    <li>
                                        <a href="{{ item.link }}" {{ helpers.getLinkActiveState(item.link, page.url) | safe }}>{{ item.displayName }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </nav>
                    </burger-menu>
                    <button class="[ site-head__cart ] [ snipcart-checkout ]">
                        {% include "icons/cart.svg" %}
                    </button>
                </div>
            </div>
        </div>
    </header>